body {
    position: relative;
    font-family: sans-serif;
}
#section1 {
    padding-top:50px;
    margin-top: 50px;
    height:300px;
    color: #fff;
    background-color: #008080;
}

#section2 {
    padding-top:50px;
    height:300px;color: #fff;
    background-color: #a4abb5;
}

#section3 {
    padding-top:50px;
    height:300px;color: #fff;
    background-color: #41aff4;
}

#section4 {
    padding-top:50px;
    height:300px;color: #fff;
    background-color: #f48c42;
}

footer{
    height: 100px;
    background-color: black;
}

.footer-text{
    padding-top: 30px;
    color: white;
}