body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}


#section1 {
    padding-top:50px;
    margin-top: 50px;
    height:300px;
    color: #fff;
    background-color: #054950;
}

#section2 {
    padding-top:50px;
    height:300px;color: #fff;
    background-color: #789A9F;
}

#section3 {
    padding-top:50px;
    height:300px;color: #fff;
    background-color: #b4c2c4;
}

#section4 {
    padding-top:50px;
    height:300px;color: #fff;
    background-color: #F78F1E;
}

footer{
    height: 100px;
    background-color: black;
}

.footer-text{
    padding-top: 30px;
    color: white;
}